.login{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
main {
    margin: 0;
    padding: 50px;
    position: relative
}
.main {
    height: 100%
}
/* .container-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.dashboard{
    background: rgba(202, 206, 201, 0.5);
}